{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form class="d-flex flex-column align-items-center" method="POST">
        {% if error %}
            <div class="alert alert-danger mt-4 col-8">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 text-center my-5">Please Sign In</h1>
        <div class="col-8">
            <label for="inputUsername">Username :</label>
            <input class="form-control" type="text" value="{{ lastUsername }}" name="username" id="inputUsername" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            <button class="btn btn-primary col-12 mt-3" type="submit">Sign In</button>
        </div>
    </form>
{% endblock %}
