{% extends 'layout.html.twig' %}

{% block title %}Fiverr - Platform of freelance services for companies{% endblock %}

{% block body %}
    <div class="d-flex col-12">
        <div class="col-9">
            {% include "home/_chat.html.twig" %}
        </div>
        <div class="col-3 border-start h-100">
            {% include "home/_formQuestion.html.twig" %}
            {% include "home/_questionsList.html.twig" %}
        </div>
    </div>
{% endblock %}
