{% extends 'layout.html.twig' %}

{% block title %}Fiverr - Plateforme de services freelances pour entreprises{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rightColumn') }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="d-flex col-12">
        <div class="chatColumn col-9">
            {% include "home/_chat.html.twig" %}
        </div>
        <div class="col-3 border-start h-100">
            {% include "home/_request_form.html.twig" %}
            {% include "home/_rightColumn.html.twig" %}
        </div>
    </div>
{% endblock %}
