@import "/~bootstrap/scss/bootstrap";
@import '../variables.scss';

                
.registerNavbar {
    background-color: $light;
    color: $green;
    border: 1px solid $green;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: auto;
}

.registerNavbar:hover {
    background-color: $green;
    color: $light;
    outline: none;
}
