@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';
* {
    box-sizing: border-box;
}

body {
    background-color: $light;
    color: $green;
    font-weight: 600;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        width: auto;
        height: 100px;
        background-color: $light;
    }

    .btn {
        background-color: $green;
        color: $light;
        font-weight: 600;
        height: 35px;
        border: none;
    }

    .btn-white {
        background-color: $light;
        color: $green;
        border: 1px solid $green;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        height: auto;
    }

    .btn-white:hover {
        background-color: $green;
        color: $light;
        outline: none;
    }

    .form-control {
        height: 35px;
    }

    .navbar-nav {
        margin-left: 331px;
    }

    
    .nav-link a {
        width: fit-content;
    }

    .nav-link img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    #navbarDropdownMenuLink {
        background-color: #ffffff00;
    }

    .green {
        color: $green;
    }

    .blue {
        color: $blue;
    }

    .grey {
        color: grey;
    }

    .subNavbar {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }

    .new {
        color: palevioletred;
        border: 1px solid palevioletred;
        border-radius: 20px;
    }

    .greyLine {
        border-top: 0.1em solid grey;
        width: 100%;
    }

    #request_content {
        height: 100px;
    }

    .addRequest .btn {
        background-color: $light;
        color: $green;
        border: 1px solid $green;
    }

    .addRequest .btn:hover {
        background-color: $green;
        color: $light;
    }

    .chat {
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .rightColumn {
        border-left: 1px solid grey;
        //width: 20%;
        height: 100%;
    }

    .fake-content {
        height: 100%;
        width: auto;
    }
}
