@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

/* Navbar */
.nav-link:hover {
    color: $blue !important;
}

.registerNavbar {
    background-color: $light;
    color: $green;
    border: $spacer * .1 solid $green;

    &:hover {
        background-color: $green;
        color: $white;
    }
}

/* Profil */
.articles, .followers, .rating {
    font-size: $spacer;
    color: #a1aab9
}

/* Right column (carousel and question form) */
.card-img-top {
    height: $spacer * 15;
}
                
.buttonFormQuestion, .buttonQuestionHelp {
    color: $green;

    &:hover {
        background-color: $green;
        color: $light;
    }
}

.carousel-control-prev, .carousel-control-next {
    padding-bottom: $spacer * 12;
}
