<header>
    <div class="greyLine"></div>
    <div class="subNavbar">
        <a class="nav-link grey" href="#">Graphisme & Design</a>
        <a class="nav-link grey" href="#">Marketing digital</a>
        <a class="nav-link grey" href="#">Rédaction & Traduction</a>
        <a class="nav-link grey" href="#">Vidéo & Animation</a>
        <a class="nav-link grey" href="#">Musique & Vidéos</a>
        <a class="nav-link grey" href="#">Programmation & Tech</a>
        <a class="nav-link grey" href="#">Data</a>
        <a class="nav-link grey" href="#">Business</a>
        <a class="nav-link grey" href="#">Loisirs</a>
    </div>
    <div class="greyLine"></div>
</header>
