<header class="d-flex flex-column align-items-center">
    <div class="greyLine border-top border-dark w-100"></div>
    <div class="d-flex justify-content-between w-75 my-2">
        <a class="nav-link text-secondary text-decoration-none" href="#">Graphisme & Design</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Marketing digital</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Rédaction & Traduction</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Vidéo & Animation</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Musique & Vidéos</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Programmation & Tech</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Data</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Business</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Loisirs</a>
    </div>
    <div class="greyLine border-top border-dark w-100"></div>
</header>
