<header class="d-flex flex-column align-items-center d-none d-lg-block">
    <div class="border-top border-dark"></div>
    <div class="d-flex justify-content-between p-2">
        <a class="nav-link text-secondary text-decoration-none" href="#">Graphics & Design</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Digital Marketing</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Writing & Translation</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Video & Animation</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Music & Videos</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Programming & Tech</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Data</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Business</a>
        <a class="nav-link text-secondary text-decoration-none" href="#">Hobbies</a>
    </div>
    <div class="border-top border-dark"></div>
</header>
