{% extends "base.html.twig" %}

{% block navbar %}
    <div class="d-flex justify-content-center">
        {% include "component/_navbar.html.twig" %}
    </div>
{% endblock %}

{% block header %}
    {% include "component/_header.html.twig" %}
{% endblock %}
